<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by
                        <a href="https://colorlib.com">Colorlib</a><br>
                        Adapted for personnal use by
                        <a href="https://github.com/WizBhoo" target="_blank">WizBhoo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
