<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" alt="APi"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">{% trans %}Homepage{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ asset('download/CV_PIERRARD_ADRIEN.pdf') }}" target="_blank">CV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">{% trans %}Portfolio{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Contact</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    {% trans %}Admin Access{% endtrans %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    {% trans %}Logout{% endtrans %}
                                </a>
                            </li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    {% trans %}My Account{% endtrans %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    {% trans %}Logout{% endtrans %}
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    {% trans %}Login{% endtrans %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
